@font-face {
  font-family: Montserrat-Medium;
  src: url(../fonts/Montserrat-Medium.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Montserrat-Reg;
  src: url(../fonts/Montserrat-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
h2 {
  font-family: Montserrat-Medium;
  font-weight: bold;
  font-size: 29px;
}
p,ul {
  font-family: Montserrat-Reg;
  font-size: 18px;
  font-weight: normal;
}

body {
  font-family: Montserrat-Medium, Helvetica, Arial;
  font-weight: normal;
}
header {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.header__box {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}
.header__contacts {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  text-align: center;
  position: fixed;
  right: 15px;
  top: 15px;
  background-color: #FDF5E6;
  border: 1px solid #DCDCDC;
  border-radius: 4px;
  transition: background-color .2s ease;
}
@media (max-width: 1250px) {
  .header__contacts {
    display: none;
  }
}
.header__contacts:hover {
  background-color: #FFE4E1;
}
.header__box > div {
  margin: 30px 100px 0 0;
}
.header__link-vk {
  color: #4682B4;
  font-weight: bold;
}
.header__link-vk:active {
  color: #FF1493;
}
.header__contacts > a {
  margin: 10px;
}
/*icons*/
.icon {
  background: url(../img/sprites/css_sprites.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.whatsap {
  width: 32px;
  height: 32px;
  background-position: -10px -62px;
}
.telegramm {
  width: 32px;
  height: 32px;
  background-position: -62px -10px;
}
.vk {
  width: 32px;
  height: 32px;
  background-position: -10px -10px;
}
/*header end*/

main {
  max-width: 860px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.promo {
}
.promo__box {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}
.promo__avatar {
  background: url(../img/avatar.png) no-repeat 40% 30%;
  border-radius: 50%;
  max-width: 100px;
  width: 100%;
  height: 100px;
  border: 1px solid #778899;
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
.promo__avatar:hover {
 transform: scale(1.2, 1.2);
}
.promo__title {
  font-weight: bold;
  font-size: 44px;
}
.promo__short-bio {
  font-weight: normal;
}
.promo__list-item {
  margin: 10px;
}
.promo__list-link {
  transition: color .1s ease-in;
}
.promo__list-link:hover {
  color: #8A2BE2;
}
.parallax {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  position: absolute;
  top: 815px;
}
/*animation*/

#btn--yp {
  box-sizing: content-box;
  position: fixed;
  z-index: 9;
  bottom: 1rem;
  right: 1rem;
  border: solid 1rem transparent;
  width: 4.625rem;
  height: 3.25rem;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2017/icon-yp.svg) 50%/cover content-box;
  text-indent: 200vw;
  text-shadow: none;
  filter: grayscale(1) drop-shadow(0 0 1px #e8e0e0);
  transition: .5s;
  white-space: nowrap;
}
#btn--yp:before {
  box-sizing: inherit;
  position: absolute;
  left: 0;
  bottom: 100%;
  margin: 1rem -.5rem;
  padding: .5rem;
  width: 100%;
  border-radius: 5px;
  background: #e8e0e0;
  color: #000;
  font: 1rem/1.25rem trebuchet ms, sans-serif;
  text-align: center;
  text-decoration: none;
  text-indent: 0vw;
  white-space: normal;
  animation: float 1s ease-in-out infinite alternate;
  content: attr(data-txt);
}
#btn--yp:hover, #btn--yp:focus {
  outline: none;
  filter: grayscale(0) drop-shadow(0 0 1px crimson);
}

@keyframes float {
  to {
    transform: translateY(0.75rem);
  }
}

svg {
  max-width: 25em;
  border-radius: 3px;
  box-shadow: 2px 2px 5px #000;
  background: #111;
  fill: none;
  stroke: #222;
  stroke-linecap: round;
  stroke-width: 8%;
}

use {
  stroke: #fff;
  animation: a 2s linear infinite;
}

@keyframes a {
  to {
    stroke-dashoffset: 0px;
  }
}
/* end*/

/*footer*/
.btm-container {
  width: 100%;
  margin-top: 20px;
  padding: 30px 0 100px 0;

}
.contacts {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  -o-flex-direction: row-reverse;
  flex-direction: row-reverse;
  justify-content: space-around;
  -ms-align-items: center;
  align-items: center;
}
@media (max-width: 690px) {
  .contacts {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }
}
@media (max-width: 690px) {
  .contacts__item {
    margin-bottom: 20px;
  }
}
.contact-with-me {
  text-align: center;
  margin-top: 35px;
  border-top: 1px solid #B0C4DE
}
@media (max-width: 500px) {
  .contacts__item {
    font-size: 22px;
  }
}
.is-power {

}