.Home {
    padding-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    z-index: 20;
    color: #fff;
}


.message {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 20;
}

#canvas {
    margin: 0;
}

@media (min-width: 768px) {
    .Home {
        width: 660px;
        margin: 0 auto;
    }
}

@media (min-width: 1000px) {
    .Home {
        width: 850px;
        margin: 0 auto;
    }
}

.title_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
}

@media (min-width: 768px) {
    .title_box {
        justify-content: flex-start;
    }
}

.home_title {
    display: inline-block;
    margin-left: 10px;
    font-size: 42px;
    font-weight: bold;
    font-family: 'Montserrat-med';
}

.info_box_title {
    font-size: 29px;
    margin-bottom: 20px;
}

.span_1 {
    color: dodgerblue;
}

.span_2 {
    color: yellowgreen;
}

.span_3 {
    color: orangered;
}

.span_4 {
    color: greenyellow;
}

.span_5 {
    color: orange;
}

.span_6 {
    color: #e21be2;
}

.works {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin-bottom: 40px;
}

.works_title {
    margin-bottom: 10px;
    font-family: Montserrat-med;
    font-size: 29px;
    font-weight: normal;
}

.works_link {
    margin-bottom: 10px;
    padding: 4px 0;
    text-decoration: none;
    color: #8fc6ff;
    font-weight: bold;
    position: relative;
    transition: all .3s ease;
}

.works_link:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px;
    background: #007cff;
    transition: all .5s ease;
}

.works_link:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 1px;
    background: #007cff;
    transition: all .5s ease;
}

.works_link:hover {
    color: #D2CEFF;
}

.works_link:hover:before {
    width: 50%;
    background: #B88FFF;
}

.works_link:hover:after {
    width: 50%;
    background: #B88FFF;
}

