body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat-light", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

ul {
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4 {
  margin: 0;
}

p {
  margin: 0;
}

.App {
  background: url("./components/Home/assets/wallpaper.jpg") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
}

@media (min-width: 1440px) {
  .App {
    height: 100vh;
  }
}

.app_wrap {
  position: relative;
}

.menu_button {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 20px;
  right: 20px;
  z-index: 50;
  background: url("./components/Home/assets/burger.svg") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  border: none;
  
}

@media (min-width: 768px) {
  .menu_button {
    display: none;
  }
}

.menu_button.active + .menu_list {
  display: flex;
}

.App:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, .6);
  z-index: 10;
}

.menu_list {
  display: none;
  width: 100%;
  position: absolute;
  z-index: 50;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  align-items: center;
  background: #000;
}



@media (min-width: 768px) {
  .menu_list {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background: rgba(255, 255, 255, .1);
  }
}

.menu_item {
  list-style: none;
  width: 100%;
}

@media (min-width: 1024px) {
  .menu_item {
  }
}

.home_link_arrow {
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 20px 0px;
  color: #fff;
  text-decoration: none;
  transition: all .23s ease;
}

@media (min-width: 1024px) {
  .home_link_arrow {
    background: rgba(255, 255, 255, .1);
  }
}

.home_link_arrow:hover {
  background: rgba(255, 255, 255, .3);
}